<h1>Formulario de ingreso de Ventas</h1>

<%= form_with model: Sale.new, local: true do |f| %>
    <div>
      <%= f.label :cod, "Codigo" %>
      <%= f.number_field :cod %>
    </div>
      
    <br>

    <div>
      <%= f.label :datail, "Venta" %>
      <%= f.text_area :datail %>
    </div>

     <br>

    <div>
      <%= f.label :category, "Categoria" %>
      <%= f.text_field :category %>
    </div>

    <br>

    <div>
      <%= f.label :value, "Valor" %>
      <%= f.number_field :value %>
    </div>

    <br>


    <div>
      <%= f.label :discount, "Descuento" %>
      <%= f.number_field :discount %>
    </div>

    <br>


    <div>
      <%= f.label :tax, "Exento de IVA" %>
      <%= f.check_box :tax %>
    </div>

    <br>


    <%= f.submit "Enviar" %>

<% end %>
